

.margen-izq{
    border-left: #535353 solid 4px !important;
}

.tablasCartera th:nth-of-type(5), 
.tablasCartera td:nth-of-type(5){
    border-left: #535353 solid 4px !important;
}

.tablaCarteraOperativa{
    width: 80%;
}

.tablaCarteraOperativa:last-of-type{
    margin-top: 24px;
}

.vsVigente{
    width: 200px;
    margin-left: 12px;
}

.tablitas{
    margin-bottom: 24px !important;
}

.tablitas td{
    font-size: 15 !important;
}

table td{
    text-align: right;
}

tr td:first-of-type{
    text-align: left;
}

.tablaCarteraOperativa tr:nth-of-type(5){
    border-bottom: #535353 3px solid !important;
}



.tablaCarteraOperativa td:nth-of-type(7), 
.tablaCarteraOperativa td:nth-of-type(8){
        font-size: 15px;
}


canvas{
    height: 600px !important;
    width: 100% !important;
    float: left;
}

.pct{
    text-align: center;
}

.body{
    margin-top: 24px;
}

#divCartera .col,
#divCarteraBuckets .col,
#divEstimacionPrev .col,
#divNeverPaid .col{
    width: 50%;
}

#divCartera:first-child{
    padding: 20px;
}

#vsBody tr td{
    font-weight: bold;
    text-align: center;
}

#CarteraOperativaHead th{
    width: 12.2%;
}

#CarteraOperativaHead th:first-of-type{
    width: 14%;
}