

.margen-izq{
    border-left: #535353 solid 4px !important;
}

.tablasCartera th:nth-of-type(5), 
.tablasCartera td:nth-of-type(5){
    border-left: #535353 solid 4px !important;
}

.tablaCarteraOperativa{
    width: 80%;
    margin-left: 1%;
}

.tablaCarteraOperativa:last-of-type{
    margin-top: 24px;
}

.vsVigente{
    width: 200px;
    margin-left: 12px;
}

.tablitas{
    margin-bottom: 24px !important;
}

.tablitas tr td{
    background-color: white;
    font-weight: normal;
}

table td{
    text-align: right;
}

tr td:first-of-type{
    text-align: left;
}

.tablaCarteraOperativa tr:nth-of-type(5){
    border-bottom: #535353 3px solid !important;
}

@media only screen and (max-width: 1500px) {
    td:nth-of-type(7), 
    td:nth-of-type(8), 
    td:nth-of-type(14), 
    td:nth-of-type(15){
        font-size: 12px;
    }
}



canvas{
    height: 150px;
    width: 100%;
    float: left;
}

.pct{
    text-align: center;
}